body {
  font-family: "Ubuntu", sans-serif;
  color: white !important;
  overflow: hidden;
}
input {
  color: white !important;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid rgb(100, 100, 100) !important;
  border-radius: unset !important;
  background: unset !important;
}
input:focus::placeholder {
  color: white !important;
}
input:focus {
  color: #ff8601;
  box-shadow: unset !important;
  border-bottom-color: #fff !important ;
}

.btn-main {
  background: #ff8601 !important;
  border: none !important;
  padding: 0.5rem !important;
  /* margin-top: 2rem !important; */
}
.btn-main:hover {
  background: #ff911c !important;
}
.btn-hover:hover {
  background: #ff8601 !important;
  color: white !important;
  border-color: white !important;
  transition: all 0.3s;
}
.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./image/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  filter: blur(10px);
  z-index: -1;
  transform: scale(1.5);
}
.bg-main,
.bg-dark {
  background: #00000030 !important;
}
.btn {
  border-radius: unset !important;
}
